body{
    justify-content: center;
    display: flex;
}
#calculator{
    justify-content: center;
    margin-top: 100px ;
    background-color: rgb(59, 59, 59);
    width: 300px;
    height: 442px;
    border-radius: 5%;
}
input{
    margin-left: 39px;
    margin-top: 35px;
    height: 50px;
    width: 214px;
    text-align:right ;
    font-size: 35px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.4);
    border: solid 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
#but{
    margin: 35px;
}

button{
   background-color: black;
   color: white;
   border: none;
   padding: 10px;
   margin-left: 3.5px;
   margin-bottom: 8px;
   height: 50px;
   width: 50px;
   border-radius: 10px;
   font-size: 20px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.ope{
    background-color: rgb(0, 0, 0);
    color:  rgb(241, 83, 10);
}
button:hover{
    color: white;
    background-color:  rgb(241, 83, 10);
}